@use 'variaveis' as *;
@use 'mixins' as *;

.header__link {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: $cor-secundaria;
  }
}

.main__div {
  margin: $espaco-pequeno;
  @include borda($cor-primaria);
  padding: $espaco-pequeno;
  text-align: left;
  width: 75%;
}

.main__div-titulo {
  font-size: 1.5em;
}

.main__form-mensagem {
  height: 2.5em;
  min-height: 200px;
  width: 99.5%;
}

.main__button-enviar {
  padding: $espaco-pequeno;
  margin-top: 2px;
}